@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    
}

body {
    font-family: 'Montserrat', sans-serif;
    

}

.swiper__container {
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    max-width:200px;
    max-height:200px;
    margin: 0 auto;
}

.name {
    height: 3rem;
}

.button_link a {
    text-decoration: none;
    background-color: #e37916;
    padding: 10px 20px;
    color: white;
}

.button_link a:hover {
    background-color: black;
    color: white;
}